<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Allow querying for the Spotify app -->
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>spotify</string>
    </array>

    <!-- Define the URL scheme for handling Spotify redirects -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>SpotifySocialMedia</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>spotify-socialmedia</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
